/*****Style CSS*****/

@font-face {
	font-family: 'Poppins', sans-serif;
}

@font-face {
	font-family: 'Neucha', cursive;
}

@font-face {
	font-family: 'AbrahamLincoln';
	src: url('../fonts/AbrahamLincoln.ttf');
}

@font-face {
	font-family: 'Roboto', sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Poppins";
}

a {
	text-decoration: none;
}

.container {
	width: 80%;	
}

/*****Header*****/

.header-wrap {
	background-color: #161616;
}

.header {
	align-items: center;
	background: url(../img/header_bg.png) no-repeat bottom center;
	background-size: 100%  auto;
	color: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	font-family: "AbrahamLincoln";
	min-height: 170vh;
	position: relative;
	-webkit-background-size: 100%  auto;
	position: relative;
}

.logo {
	border: 2px solid #ffffff;
	color: #ffffff;
	font-family: "Roboto";
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 4.8px;
	line-height: 28px;
	margin-top: 154px;
	padding: 9px;
	text-transform: uppercase;
}

.logo-link {
	color: #fff;
	text-decoration: none;
}

.navigation {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	flex-direction: column;
	align-items: center;
	position: relative;
	width: 100%;
}

#menu-button-checkbox {
	display: none;
}

.menu-button {
	background-color: #ffa800;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	margin-top: 17px;
	margin-left: 17px;
	padding: 9px;
	position: relative;	
	z-index: 1;
}

.menu-button-item {
	display: block;
	height: 2px;
    width: 30px;
    border-radius: 2px;
    margin-bottom: 5px;
	background-color: #fff;
}

.menu-button-item:last-of-type {
	margin-bottom: 0;
}

.main-menu {
	color: #ffffff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	font-size: 20px;
	font-weight: 400;
	justify-content: space-between;
	letter-spacing: 6px;
	line-height: 37px;
	padding: 0;
	text-transform: uppercase;
	width: 55%;
}

.menu-item {
	list-style-type: none;
}

.menu-item-link {
	color: #fff;
}

.menu-item-link:hover {
	color: #ffa800;
}

.phone {
	background-image: url("../img/phone_bg.png");
	background-position: center center;
	background-size: 100% auto;
	background-repeat: no-repeat;
	color: #fff;
	height: 45px;
	line-height: 45px;
	text-align: center;
	transform: rotate(90deg);
	width: 45px;
	position: absolute;
	top: 11px;
	right: 1.75vw;
}


.header-slogan {
	color: #ffa800;
	font-size: 100px;
	font-weight: 400;
	line-height: 122.63px;
	text-align: center;
	text-transform: uppercase;
	margin: 3.5em auto 0;
	max-width: 90%;
}

.header-text {
	letter-spacing: 8px;
	line-height: 50px;
	font-size: 40px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
}


.scroll-down-wrap {
	align-items: center;
	color: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	text-decoration: none;
}

.scroll-down-stamp {
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-top: 1px solid #fff;
	height: 60px;
	margin-top: 261px; 
	width: 63px;
}

.scroll-down-text {
	font-size: 26px;
	font-weight: 400;
	letter-spacing: 5.2px;
	margin-top: 3px;
	text-transform: uppercase;
}

.scroll-down-arrow {
	color: #fff;
	font-size: 30px;
	margin-top: 69px;
	margin-bottom: 35vw;
}

.rectangle {
	border: 1.5vw solid #fff;
	height: 50vw;
	width: 50vw;
	position: absolute;
	bottom: -26.5vw;
}

.header-right-side {
	align-items: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	font-size: 16px;
	font-weight: 400;
	justify-content: space-between;
	letter-spacing: 4.8px;
	line-height: 37px;
	position: absolute;
	right: 2vw;
	text-transform: uppercase;
	top: 410px;
	transform: rotate(270deg);
	transform-origin: 100% 100%;
	min-width: 150vh;
	-ms-align-items: center;
}

.header-right-side a {
	color: #fff;
}

.copyright {
	white-space: nowrap;
	margin-right: 150px;
}

.soc-networks-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.soc-network {
	margin-right: 60px;
}

.soc-icons {
	display: none;
	font-size: 25px;
}

/*****Section Invite*****/

.invite {
	background-color: #694fca;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	height: 1500px;
}

.invite-header {
	height: 25vw;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	text-transform: uppercase;
	position: relative;
	
}

.number {
	color: #ffa800;
	font-family: "AbrahamLincoln";
	font-size: 16vw;
	font-weight: 400;
	margin: 0;
	position: absolute;
}

.invite-number {
	left: 2.5vw;
	bottom: -4.5vw;
}

.invite-header-text {
	width: 50vw;
	padding-left: 4vw;
	padding-right: 1vw;
}

.invite-header h2 {
	color: #ffffff;
	font-family: "AbrahamLincoln";
	font-size: 8vw;
	font-weight: 400;
	margin: 0;
}

.invite-header h2 + p {
	color: #ffffff;
	font-family: "AbrahamLincoln";
	font-size: 3vw;
	font-weight: 400;
	margin: 0;
	padding-top: 1vw;
	position: absolute;
	z-index: 1;
}

.invite-header-img {
	position: absolute;
	width: 35vw;
	height: auto;
	right: -6.6vw;
	bottom: -8.3vw;
}

.invite-body {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	margin-top: 130px;
}

.invite-body h2 {
	/*padding-left: 20px;*/
	width: 25%;
	color: #ffffff;
	font-family: "AbrahamLincoln";
	font-size: 98px;
	font-weight: 400;
	line-height: 90px;
}

.invite-body p {
	width: 60%;
	color: #ffffff;
	font-family: Poppins;
	font-size: 20px;
	font-weight: 400;
	line-height: 40px;
	margin-top: 45px;
	}

.carusel {

}

.carusel-list {
	list-style: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 0;
}

.carusel-list :last-child {
	padding-right: 0;
}

.carusel-item {
	padding-right: 100px;
}

.carusel-icon {
	font-size: 30px;
}

.carusel-item-header {
	color: #ffa800;
	font-family: "AbrahamLincoln";
	font-size: 30px;
	font-weight: 400;
	line-height: 34px;
	text-transform: uppercase;
	margin-top: 25px;
	margin-bottom: 22px;
}

.carusel-item-text {
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
}

.hor-line {
	width: 50px;
	border-bottom: 1px solid #fff;
	margin-bottom: 39px;
}

.carusel-link {
	color: #fff;	
}

.carusel-indicator {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		width: 100px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 123px;
		}

	.carusel-indicator-item {
		width: 11px;
		height: 5px;
		background-color: #fff;
		margin-right: 19px;
		border-radius: 3px;
	}

	.carusel-indicator-item-active {
		width: 38px;
		background-color: #ffa800;
	}

/*****Media queries*****/

@media (max-width: 1199px) {
	.main-menu {
		font-size: 18px;
	}

	.header-text {
		font-size: 30px;
	}

	.header-right-side {
		font-size: 14px;
	}

	.invite-body {
		margin-top: 100px;		
	}

	.invite-body h2 {
		font-size: 80px;
		line-height: 80px;
	}

	.invite-body p {
		line-height: 35px;
	}
}

@media (max-width: 991px) {
	.main-menu {
		display: none;
	}

	.navigation {
		width: 100%;
		-ms-align-items: flex-start;
		align-items: flex-start;
	}

	#menu-button-checkbox:checked + .main-menu {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
		position: absolute;
		width: 100%;
		top: 45px;
	}

	.menu-item {
	}

	.header-slogan {
		font-size: 70px;
	}

	.header-text {
		font-size: 24px;
		width: 70%;
	}

	.header-right-side {
		font-size: 12px;
	}

	.invite-body h2 {
		font-size: 60px;
		line-height: 60px;
	}

	.invite-body p {
		font-size: 18px;
		line-height: 30px;
	}

	.carusel-item-text {
		font-size: 14px;
		line-height: 26px;
	}

}

@media (max-width: 767px) {
	.header-text {
		font-size: 18px;
	}

	.soc-networks-wrap {
		padding-left: 4px;
	}

	.soc-icons {
		display: inline;
	}

	.soc-network {
		margin-right: 14px;
	}

	.soc-network:last-child {
		margin-right: 0;
	}

	.soc-network-name {
		display: none;
	}

	.header-right-side {
		transform: none;
		top: 244px;
		left: 0;
		min-width: 100vw;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.copyright {
		display: none;
	}

	.phone {
		right: 17px;
	}

	.invite-body {
		flex-direction: column;
	}

	.invite-body h2 {
		padding-left: 0;
		width: 100%;
		text-align: center;		
	}

	.invite-body p   {
		width: 100%;
		text-align: justify;
		margin-top: 20px;
	}
	

}

@media (max-width: 480px) {
	.soc-network {
		margin-right: 0;
	}

	.invite-header h2 {
		font-size: 7vw;
	}

	.invite-header h2 + p {
		font-size: 3vw;
		padding-top: 3.5vw;
	}
}

@media (min-width: 992px) {
	.menu-button {
		display: none;
	}
}